# Models and things
OPENROUTER_API_KEY=
# OPENROUTER_MODEL=
# A2A_BASE_URL=
# LOG_LEVEL=



# Azure Entra ID (Azure AD) authentication
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_REDIRECT_URI=http://localhost:8501